body {
  background: linear-gradient(#a59079, #867a7a);
  color: white;
  font-family: "arial";

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: rgb(6, 6, 6);
  width: 410px;
  border-radius: 50px;
  margin-top: 90px;
  padding: 10px;
}

.row {
  display: flex;
}
